MONGODB_URI_LOCAL=

FRONTEND_URL = 

USER_MAILTRAP = 

PASS_MAILTRAP =

JWT_SECRET = 

CLOUDINARY_CLOUD_NAME =

CLOUDINARY_API_KEY = 

CLOUDINARY_API_SECRET = 

PUSHER_APP_ID =

PUSHER_KEY =

PUSHER_SECRET =

PUSHER_CLUSTER =